<!-- <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer> -->

<div class="card-footer text-muted bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Made with ❤ By Kanchi Jain</span>
    </div>
</div>